.title-bar {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-template-areas: 'close resize min settings file-name side-bar';
    height: 30px;
    background-image: linear-gradient(to left, #efefef 100%, #efefef 0%);
    width: 100%;
    position: relative;
    -webkit-app-region: drag;

}

.title-bar-icon, #file-name, #saving-status, #last-modified-date{
    -webkit-app-region: no-drag;
}

#exit-icon {
    grid-area: close;
}

#resize-icon {
    grid-area: resize;
}

#min-icon {
    grid-area: min;
}

.setting-icon {
    grid-area: settings;
}

.open-side-bar {
    grid-area: side-bar;
}

.title-bar-icon {
    cursor: pointer;
    transition: var(--quick-transition);
    background-color: #efefef;
    justify-self: left;
    width: 30px;
    -webkit-app-region: no-drag;
}

#exit-icon:hover {
    background-color: #d15f5f;
    transition: var(--quick-transition);
}

#exit-icon:hover svg {
    fill: var(--white);
}

.title-bar-icon:hover {
    background-color: #ffffff;
    transition: var(--quick-transition);
}

.setting-icon:hover path {
    fill: var(--primary);
}

#file-details-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background: transparent;
    direction: rtl;
    margin: 0 5vw;
    width: 100%;
}

#file-name {
    padding: 4px 8px;
    border: 1px solid transparent;
    position: relative;
    background: transparent;
    width: 40%;
    height: 85%;
    transition: var(--quick-transition);
    border-radius: .3em;
    font-size: 11px;
    font-weight: bold;
    align-self: center;
}

#last-modified-date {
    color: var(--dark-gray);
    font-size: 12px;
}

#saving-status, #last-modified-date {
    font-weight: bold;
    opacity: 0.7;
    align-self: center;

}

#saving-status {
    font-size: 13px;
}

#file-name:hover {
    background-color: var(--white);
    transition: var(--quick-transition);
}

#file-name:focus {
    background-color: var(--white);
    border-bottom: 2px solid var(--primary);
    transition: var(--quick-transition);

}

.invalid-file-name {
    background-color: var(--light-danger);

}

#file-name ~ .focus-bg {
    position: absolute;
    left: 50%;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--light-primary);
    transition: 0.6s;
    z-index: -1;
}

#file-name:focus ~ .focus-bg {
    transition: var(--quick-transition);
    width: 100%;
    left: 0;
}


/* context classes */

.currently-saving {
    color: #4693ee;
}

.saved-file {
    color: #009943ee;
}

.unsaved-file {
    color: #eb1d1dee;
}


.open-side-bar {
    z-index: 1001;
    direction: rtl;
    position: relative;
    color: var(--dark-gray);
    justify-self: end;
}

.open-side-bar.show {
    transform: translateX(-200px);
}

.open-side-bar svg {
    cursor: pointer;
    position: absolute;
}

.open-side-bar path {
    fill: none;
    stroke: var(--dark-gray);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 45;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all .4s cubic-bezier(.645, .045, .355, 1);
}

.open-side-bar .line--1,
.open-side-bar .line--3 {
    --total-length: 103.35061645507812;
    --offset: -42.35061645507812;
}

.open-side-bar .line--2 {
    --total-length: 133;
}

.open-side-bar.show path {
    transform: translateX(25px);
}

.open-side-bar.show .line--1,
.open-side-bar.show .line--3 {
    --offset: 1;
    --length: 25;
}

.open-side-bar.show .line--2 {
    --offset: 9;
    --length: 65;

}

.back.show .line--1,
.back.show .line--3 {
    --length: 33.602325267;
}

