.title-bar {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-template-areas: 'close resize min settings file-name side-bar';
    height: 30px;
    background-color: var(--light-gray);
    width: 100%;
    position: relative;
    -webkit-app-region: drag;
    font-size: 14px;
}

.title-bar-icon, #file-name, #saving-status, #last-modified-date {
    -webkit-app-region: no-drag;
}

.title-bar svg {
    fill: var(--dark-gray);
    opacity: 0.8;
}

.exit-icon {
    grid-area: close;
}

#resize-icon {
    grid-area: resize;
}

#min-icon {
    grid-area: min;
}

.settings-icon {
    grid-area: settings;
}

.open-side-bar {
    grid-area: side-bar;
}

.title-bar-icon {
    cursor: pointer;
    transition: var(--quick-transition);
    justify-self: left;
    width: 30px;
    -webkit-app-region: no-drag;
}

.exit-icon:hover path {
    fill: var(--danger);

}

.exit-icon:hover span {
    color: var(--danger);
}

.title-bar-icon:hover {
    background-color: var(--white);
    transition: var(--quick-transition);
}

.title-bar-icon:hover svg {
    fill: var(--dark-gray);
}

.settings-icon:hover path {
    fill: var(--primary);
}

#file-details-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background: transparent;
    direction: rtl;
    margin: 0 5vw;
    width: 100%;
}

#file-name {
    border: 1px solid transparent;
    position: relative;
    background: transparent;
    width: 25%;
    height: 100%;
    transition: var(--quick-transition);
    font-weight: bold;
    align-self: center;
}

#last-modified-date {
    color: var(--dark-gray);
}

#saving-status, #last-modified-date {
    font-weight: bold;
    opacity: 0.7;
    align-self: center;

}

#file-name {
    color: var(--primary);
    opacity: 0.7;
    background-color: transparent;
}

#file-name::placeholder {
    opacity: .9;
}

#file-name:hover {
    background-color: var(--white);
    color: var(--dark-gray);
    transition: var(--quick-transition);
}

#file-name:focus {
    background-color: var(--white);
    color: var(--dark-gray);
    transition: var(--quick-transition);
    box-shadow: none;

}

.invalid-file-name {
    background-color: var(--light-danger);

}

#file-name ~ .focus-bg {
    position: absolute;
    left: 50%;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--light-primary);
    transition: 0.6s;
    z-index: -1;
}

#file-name:focus ~ .focus-bg {
    transition: var(--quick-transition);
    width: 100%;
    left: 0;
}


/* context classes */

.currently-saving {
    color: var(--secondary);
}

.saved-file {
    color: var(--success);
}

.unsaved-file {
    color: var(--danger);
}


.open-side-bar {
    z-index: 1001;
    direction: rtl;
    position: relative;
    color: var(--dark-gray);
    justify-self: end;
}

.open-side-bar svg {
    cursor: pointer;
    position: absolute;
}

.open-side-bar path {
    fill: none;
    stroke: var(--dark-gray);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 45;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all .4s cubic-bezier(.645, .045, .355, 1);
}

.open-side-bar .line--1,
.open-side-bar .line--3 {
    --total-length: 103.35061645507812;
    --offset: -42.35061645507812;
}

.open-side-bar .line--2 {
    --total-length: 133;
}

.open-side-bar.show path {
    transform: translateX(45px);
}

.open-side-bar.show .line--1,
.open-side-bar.show .line--3 {
    --offset: 1;
    --length: 25;
}

.open-side-bar.show .line--2 {
    --offset: 9;
    --length: 55;

}
.open-side-bar.show:hover {
    background-color: var(--light-gray);
}


.back.show .line--1,
.back.show .line--3 {
    --length: 33.602325267;
}