#insert-bar {
    position: relative;
    background-color: #f9f9f9;
    border-bottom: 1px solid #cccccc8e;
    z-index: 1;

}

#insert-icons {
    display: grid;
    grid-template-columns: repeat(5, 35px);
    height: 40px;
    justify-content: space-evenly;
    margin: 0 30vw;
}

.insert-icon {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .3s;
    opacity: 0.8;
}

.insert-icon:hover {
    background-color: #e8f0fe;
    transition: .3s;
}

.insert-icon:hover .ql-custom-stroke-1,
.insert-icon:hover .ql-custom-stroke-2 {
    fill: #06c;
    background: #e8f0fe;
    border-radius: 0.4em
}

.insert-box {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: block;
    direction: rtl;
    transition: opacity 0.4s;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
    background-color: #fafafa;
    width: auto;
    max-width: 50vw;
    border-radius: 0.4em;
    border: 1px solid #d4d4d4;
}

#insert-ayah-box {
    top: 100%;
    right: 55%;

}

#insert-hadith-box {
    top: 100%;
    right: 45%;

}

#insert-poetry-box {
    top: 100%;
    right: 35%;

}

.insert-box.show {
    opacity: 1;
    visibility: visible;
}

.insert-input {
    border: 1px solid transparent;
    padding: 10px;
    font-size: 12px;
    border-radius: 0.4em;
    width: 100%;
}

.insert-input::placeholder, #search-box input::placeholder {
    color: #a8a8a8;
}


.insert-list {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    font: 12px dubai, sans-serif;
    text-align: right;
    height: auto;
    max-height: 40vh;
    width: auto;
    max-width: 40vw;
    overflow: overlay;
}


.insert-list div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.insert-list div:hover {
    background-color: #e9e9e9;
}

.insert-list-active {
    background-color: #06c !important;
    color: #ffffff;
}


#search-box {
    position: absolute;
    top: 100%;
    right: 20%;
    z-index: 99;
    direction: rtl;
    text-align: center;
    justify-content: space-between;
    justify-items: center;
    padding: .5em;
    transition: opacity 0.4s;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
    background-color: #fafafa;
    border-radius: 0.3em;
    border: 1px solid #d4d4d4;
}

@media (max-width: 700px) {
    #search-box {
        grid-template-areas: none;
    }
}

#search-box * {
    margin: 3px 0;
    height: 25px;
    padding: 2px 5px;
}

#search-box input {
    border: 1px solid transparent;
    padding: 10px;
    font-size: 12px;
    border-radius: 0.4em;
    width: 40%;
}
