#advanced-toolbar-bar {
    position: relative;
    background-color: #f9f9f9;
    border-bottom: 1px solid #cccccc8e;
    z-index: 1;
    transition: var(--slow-transition);
}

#advanced-toolbar-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35px);
    height: 40px;
    justify-content: space-evenly;
    margin: 0 30vw;
}

.advanced-toolbar-icon {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: var(--quick-transition);
    opacity: 0.8;
}

.advanced-toolbar-icon:hover {
    background-color: var(--light-primary);
    transition: var(--quick-transition);
}

.advanced-toolbar-icon:hover .ql-custom-stroke-1,
.advanced-toolbar-icon:hover .ql-custom-stroke-2 {
    fill: var(--primary);
    background: var(--light-primary);
    border-radius: 0.4em
}

.insert-box {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: block;
    direction: rtl;
    transition: opacity 0.2s;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
    background-color: #fafafa;
    width: auto;
    max-width: 60vw;
    border-radius: 0.4em;
}

#insert-table-box {
    cursor: pointer;
    border-spacing: 5px;
}

#insert-table-box td {
    width: 15px;
    height: 15px;
    background-color: var(--light-primary);
    transition: 0.3s;
    border: 2px #ffffff solid;
}

#float-row-column-tip {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--light-primary);
    transition: .1s;
    padding: 2px 6px;
    border-radius: .4em;
    color: #26323d99;
    font-family: dubai;
    border-bottom: 2px #0066cc77 solid;
    visibility: hidden;
}

.insert-box.show {
    opacity: 1;
    visibility: visible;
}

.insert-input {
    width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 0.4em;
}

.insert-list {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    font: 12px dubai, sans-serif;
    text-align: right;
    height: auto;
    max-height: 40vh;
    width: auto;
    max-width: 40vw;
    overflow: overlay;
}


.insert-list div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.insert-list div:hover {
    background-color: #e9e9e9;
}

.list-item-active {
    background-color: var(--primary) !important;
    color: #ffffff;
}


#search-box, #insert-poetry-box {
    top: 100%;
    right: 20%;
    z-index: 99;
    display: grid;
    width: max-content;
    min-width: max-content;
    column-gap: 10px;
    justify-items: center;
    padding: .5em;
    transition: opacity 0.4s;
}

#insert-poetry-box {
    grid-template-columns: repeat(2, 13vw) max-content;

}

#search-box {
    grid-template-columns: repeat(2, max-content) repeat(2, 9vw) max-content
}

#search-box input, #search-box button, #insert-poetry-box input {
    height: 25px;
    padding: 2px 5px;
}

#insert-poetry-box button {
    padding: 4px 18px;
}

.expand-arrow {
    position: absolute;
    transition: var(--quick-transition);
    transform: rotate(180deg);
    cursor: pointer;
    z-index: 2;
    padding: 2px 4px;
    border-top-left-radius: 0.4em;
    background-color: #f9f9f9;
    margin-top: -1px;
}

.expand-arrow:hover svg {
    fill: var(--primary);

}

.expand-arrow.down {
    transform: translateY(-2.5em) rotate(0deg);
    background-color: transparent;
    transition: var(--quick-transition);
}
