.title-bar {
    display: grid;
    grid-template-columns: repeat(4, 35px);
    height: 30px;
    background-color: #dfdfdf;
    width: 100%;
    -webkit-app-region: drag;
}

#exit-icon,
#resize-icon,
#min-icon, #setting-icon {
    cursor: pointer;
    transition: 0.3s;
    -webkit-app-region: no-drag;

}

#min-icon {
    align-items: end;

}

#exit-icon:hover {
    background-color: #d15f5f;
    transition: 0.3s;
}

#resize-icon:hover,
#min-icon:hover,
#setting-icon:hover {
    background-color: #eee;
    transition: 0.3s;
}

#setting-icon {
    background-color: #cbcbcb;
}

#setting-icon:hover path {
    fill: #0066cc;
}