* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

#main-container:not(#text-box) {
    -webkit-user-drag: none;
    user-select: none;
}


html {
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

svg, hr {
    pointer-events: none;
}

ul, ol {
    list-style: none;
}


input, button, body:not(#text-box) {
    font-family: dubai, sans-serif;
    font-size: 14px;
}

input {
    padding: .15em .5em;
    border: 1px solid #23241f;
    transition: .3s;
}

input:focus {
    border-bottom: 2px solid var(--primary);
    transition: .5s;
}

input:hover {
    border-bottom: 2px solid var(--primary);
    transition: .5s;

}

input::placeholder {
    opacity: 0.4;
}

.text-input {
    border: 1px solid #d4d4d4;
    font-size: 12px;
    border-radius: 0.4em;
}

.text-input.valid {
    border-color: var(--success) !important;
}

.text-input.invalid {
    border-color: var(--danger) !important;
}

.disabled {
    pointer-events: none
;
}

.note {
    color: var(--dark-gray);
    font-size: 12px;
    display: grid;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

#main-container {
    position: fixed;
    display: grid;
    grid-template-rows: 30px 40px min-content max-content auto;
    z-index: 100;
    overflow: hidden;
    height: 100%;
    width: 100%;
    /*background-image: radial-gradient(circle farthest-corner at -3.7% -5%, #c5e4fe77 0.3%, #bad7fe77 90.5%);*/
    /*background-image: radial-gradient( circle farthest-corner at 10% 20%,  #6fabfd55 0%, #BAD7FE77 90.2% );*/
    /*background-image: radial-gradient( circle farthest-corner at 0.7% 2.3%,  rgba(41,166,255,1) 0%, rgba(153,240,255,1) 100.2% );*/


    /*background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/


    /*background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);*/

    /*background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);*/
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

}


#text-box {
    height: 80vh;
    width: 100vw;
    overflow-y: overlay;
    overflow-x: hidden;
}

.icon {
    display: grid;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;

}

.icon:hover .ql-custom-stroke-1, .icon:hover .ql-custom-stroke-2 {
    fill: var(--primary);
}

.icon:hover {
    background-color: var(--light-primary);
    transition: .2s;
}

.icon.disabled {
    cursor: auto;
}

.icon.disabled .ql-custom-stroke-1, .icon.disabled .ql-custom-stroke-2 {
    fill: var(--dark-gray);

}

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.btn {
    cursor: pointer;
    background-color: var(--primary);
    color: #e0f0f0;
    outline: 0;
    transition: background-color 0.3s ease;
    border: none;
    border-radius: .4em;
    font-size: 12px;
}

.btn:hover {
    background-color: var(--secondary);
}

.ql-custom-stroke-1 {
    fill: none;
    stroke: #444;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}

.ql-custom-stroke-2 {
    fill: #444;
}

.ql-custom-stroke-3 {
    opacity: 0.4;
}

@media print {

    body {
        background: white;
        font-size: 12pt;
    }

    a:link,
    a:visited {
        color: #520;
        background: transparent;
        font-weight: bold;
        text-decoration: underline;
    }

    a:link:after,
    a:visited:after {
        content: " (" attr(href) ") ";
        font-size: 90%;
    }


    #main-container:not(#text-box), .tippy-tooltip, .swal2-show {
        visibility: hidden;
    }

    .ql-editor {
        display: block;
        visibility: visible;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        z-index: 9999;
        overflow: visible;
        float: none;
    }

    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
        page-break-inside: avoid
    }

    img {
        page-break-inside: avoid;
        page-break-after: avoid;
    }

    table, pre {
        page-break-inside: avoid
    }

    ul, ol, dl {
        page-break-before: avoid
    }

    body, h1, h2, h3, ol, ul, div {
        width: auto;
        border: 0;
        margin: 0 5%;
        padding: 0;
        float: none;
        position: static;
        overflow: visible;
    }

}

.check-box {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    direction: rtl;
}

.check-box span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
    margin: 0 2px;
    color: #000000;
    opacity: 0.7;
}

.check-box span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
}

.check-box span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.check-box span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}

.check-box:hover span:first-child {
    border-color: var(--primary);
}

.inp-cbx:checked + .check-box span:first-child {
    background: var(--primary);
    border-color: var(--primary);
    animation: wave 0.4s ease;
}

.inp-cbx:checked + .check-box span:first-child svg {
    stroke-dashoffset: 0;
}

.inp-cbx:checked + .check-box span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}