#loader {
    position: absolute;
    z-index: 1002;
    width: 100%;
    height: 100%;
    background: var(--white);
    pointer-events: none;
}

.loader-draggable {
    -webkit-app-region: drag;
}

.loading-now-note {
    direction: rtl;
    font-size: 52px;
    font-weight: bold;
}

#loader svg {
    width: 30vw;
    height: 30vh;
    margin: 20%;
    transform: rotate(45deg) scale(1);

}

.stroke-still {
    stroke: var(--light-primary);
}

.stroke-animation {
    animation: stroke-spacing 2.2s ease-in, stroke-color 4.8s linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transform-origin: center center;
}

@keyframes stroke-spacing {
    0% {
        stroke-dasharray: 0 200;
    }
    45% {
        stroke-dashoffset: 0;
        stroke-dasharray: 200 200;
    }
    90% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
    100% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
}

@keyframes stroke-color {
    0% {
        stroke: #87ceeb;

    }
    24% {
        stroke: #3498db;
    }
    25% {
        stroke: #35a7ed;
    }
    49% {
        stroke: #35a7ed;
    }
    50% {
        stroke: #1a8cff;
    }
    74% {
        stroke: #1a8cff;
    }
    75% {
        stroke: #0066cc;
    }
    99% {
        stroke: #0066cc;
    }
}

