.open-side-bar {
    z-index: 100;
    direction: rtl;
    position: relative;
    color: var(--dark-gray);
}

.side-bar {
    direction: rtl;
    text-align: right;
    position: absolute;
    top: 2em;
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--primary-shadow);
    display: grid;
    width: 100px;
    z-index: 100;
    transition: .2s
    /*transform: translateX();*/
}

.side-bar.show {
    /*transform: translateX();*/
}

.side-bar-item {
    padding: 4px 8px;

}

.side-bar-item:hover {
    background-color: var(--light-primary);
    transition: .2s;
}