.title-bar {
    display: grid;
    grid-template-columns: repeat(4, 35px) 100%;
    height: 30px;
    background-image: linear-gradient(to left, #dfdfdf 100%, #dfdfdf 0%);
    width: 100%;
    position: relative;

}

#exit-icon,
#resize-icon,
#min-icon, #setting-icon {
    cursor: pointer;
    transition: 0.3s;
    -webkit-app-region: no-drag;
}

#exit-icon:hover {
    background-color: #d15f5f;
    transition: 0.3s;
}

#resize-icon:hover,
#min-icon:hover,
#setting-icon:hover {
    background-color: #eee;
    transition: 0.3s;
}

#setting-icon {
    background-color: #cbcbcb;
}

#setting-icon:hover path {
    fill: var(--primary);
}

.title-bar-draggable{

    -webkit-app-region: drag;
}