:root {
    /* colors */
    --primary: #0066cc;
    --secondary: #1a8cff;
    --light-primary: #e8f0fe;
    --dark-gray: #555;
    --light-gray: #bbb;
    --white: #fefefe;
    --black: #282828;
    --success: #009943ee;
    --light-success: #dafff5;
    --danger: #eb1d1dee;
    --light-danger: #ffdcde;
    --primary-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    --border-radius: .3em;
}