
.file-management-bar {
    display: grid;
    grid-template-columns: repeat(3, 40px) 35vw 10em 20em;
    height: 40px;
    background-color: #fafafa;
    direction: rtl;
    z-index: 10;
    width: 100%;
}

#save-icon,
#open-file-icon,
#new-file-icon {
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;

}

/*#save-icon:hover,*/
/*#open-file-icon:hover,*/
/*#new-file-icon:hover {*/
/*    transition: 0.3s;*/
/*}*/

#new-file-icon {
    position: relative;
}

#file-name-container {
    margin: auto 1em;
    width: 60%;
    height: 75%;
    position: relative;
    background: transparent;
}

#file-name {
    padding: 5px 10px;
    border: 1px solid transparent;
    position: relative;
    background: transparent;
    width: 100%;
    height: 100%;
    transition: 0.9s ease-in-out;
    border-radius: .3em;
    font-size: 13px;
    font-weight: bold;
}

#file-name:focus, #file-name:hover {
    border: 1px solid var(--primary);
    transition: 0.3s ease-in-out;
    font-size: 15px;

}


#file-name ~ .focus-bg {
    position: absolute;
    left: 50%;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--light-primary);
    transition: 0.6s ease-in-out;
    z-index: -1;
}

#file-name:focus ~ .focus-bg {
    transition: 0.3s ease-in-out;
    width: 100%;
    left: 0;
}


/* context classes */

.currently-saving {
    color: #4693ee;
}

.saved-file {
    color: #009943ee;
}

.unsaved-file {
    color: #eb1d1dee;
}

.valid-file-name {
    border-color: #009943ee !important;
    background-color: var(--light-success) !important;

}

.invalid-file-name {
    border-color: #eb1d1dee !important;
    background-color: var(--light-danger) !important;

}

/* --- */

#saving-status-container {
    font-size: 12px;
    color: var(--danger);
    font-weight: bold;
    opacity: 0.7;
    align-self: center;
}

#last-modified-date {
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.7;
    align-self: center;
}

#saving-box-content {
    display: grid;
    grid-template-columns: repeat(3, .33fr);
    grid-template-areas: "html-ext pdf-ext docx-ext";
    text-align: center;
    justify-items: center;
    justify-content: center;
    width: 30em;
    font-size: 14px;
}

#html {
    grid-area: html-ext;
}

#pdf {
    grid-area: pdf-ext;
}

#docx {
    grid-area: docx-ext;
}

#pdf,
#html,
#docx {
    cursor: pointer;
    border: 1px solid rgba(92, 92, 92, 0.076);
    transition: .3s;
    padding: 0.50em;
    width: 100%;
}


#html:hover,
#docx:hover {
    background-color: var(--light-primary);
    transition: .3s;
}

#pdf:hover {
    background-color: #fee8e8;
    transition: .3s;

}

.ext-notes,
.ext-name {
    pointer-events: none;
}