#bottom-bar {
    display: grid;
    grid-template-rows: 20% 70%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f3f3f3;
    color: var(--primary);
    font-size: 21px;
    box-shadow: 0 0 6px #00000035;
    font-weight: bold;
    height: 500px;
    direction: rtl;
    padding: 30px;

}

#zoom-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, 5em);
    background-color: #e3e3e3;
}

