#float-menu {
    position: absolute;
    display: grid;
    justify-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 100;
    box-shadow: 0 0 20px 4px rgba(154, 161, 177, .15), 0 4px 80px -8px rgba(36, 40, 47, .25), 0 4px 4px -2px rgba(91, 94, 105, .15);
    border-radius: 0.4em

}

#float-menu.show {
    visibility: visible;
    opacity: 0.5;
    transition: opacity 0.4s;
}
#float-menu:hover {
    opacity: 0.9;
}

#float-tools-list {
    display: grid;
    grid-template-columns: repeat(15, 28px);
    grid-template-rows: 30px;
    align-items: center;
    border-radius: 0.4em;
    background-color: #f9f9f9;
    width: 100%;
}

.tool:first-child
 {
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;

}
.tool:last-child {
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;

}
.tool {
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 0;
    transition: var(--quick-transition);
    width: 100%;
    height: 100%;
}


.tool:hover:not(.ql-float-color) {
    background-color: #dee6f3;
    cursor: pointer;
    transition: var(--quick-transition);
}


.tool:hover .ql-custom-stroke-1 {
    stroke: var(--primary);
    background: var(--light-primary);
    border-radius: 0.4em
}

.ql-float-color {
    border-radius: 0.4em;
    background-color: #f3f3f3;
    opacity: 0.8;
    height: 70%;
    width: 70%;

}

.ql-float-color {
    pointer-events: none;
}

#float-tools-list hr {
    justify-self: center;
    align-self: center;

}