<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/quill/dist/quill.snow.css">
  <link rel="stylesheet" href="../static/assets/css/style.css">
  <title>Hello World!</title>
</head>

<body>
  <!-- Create the toolbar container -->

  <!-- Create the editor container -->
  <div id="editor">
  </div>
  <span id="word-number"></span>
  <button class="button is-primary">b</button>
  <!-- Initialize Quill editor -->
  <script src="../static/quill/dist/quill.js"></script>
  <!-- You can also require other files to run in this process -->
  <script src="../static/request/requests.js"></script>
  <script src="../static/assets/editor/confi-quill.js"></script>
</body>

</html>