<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/quill/quill/dist/quill.snow.css">
  <link rel="stylesheet" href="../static/assets/css/style.css">
  <link rel="stylesheet" href="../static/assets/css/fonts.css">
  <link rel="stylesheet" href="../static/assets/css/custom-style.css">
  <title>Hello World!</title>
</head>

<body>

  <!-- main bar -->

  <div class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
  
        <a class="navbar-item">
          Documentation
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Create the toolbar container -->
  <div id="toolbar-container">
    <span class="ql-formats">
      <select class="ql-font" >
        <option value="Arial" selected>أريال</option>
        <option value="dubai">خط دبي</option>
        <option value="alhurra">الحرة</option>
        <option value="ArefRuqaa">خط الرقعة</option>
        <option value="Cairo">كاريو</option>
        <option value="shiraz">شيراز</option>
        <option value="zahra">الزهراء</option>
      </select>
    </span>
    <span class="ql-formats">
      <select class="ql-header">
        <option value="1">عنوان رئيسي</option>
        <option value="2">عنوان فرعي</option>
        <option value="3">عنوان فقرة</option>
        <option value="4">نص كبير</option>
        <option selected>نص عادي</option>
      </select>
    </span>
    <span class="ql-formats">
      <select class="ql-size">
        <option value="small">خط صغير</option>
        <option selected>خط متوسط</option>
        <option value="large">خط كبير</option>
        <option value="huge">خط ضخم</option>
      </select>
    </span>
    <span class="ql-formats">
      <select class="ql-color" title="Color">
        <option selected="selected"></option>
        <option value="#e60000"></option>
        <option value="#ff9900"></option>
        <option value="#ffff00"></option>
        <option value="#008a00"></option>
        <option value="#0066cc"></option>
        <option value="#9933ff"></option>
        <option value="#ffffff"></option>
        <option value="#facccc"></option>
        <option value="#ffebcc"></option>
        <option value="#ffffcc"></option>
        <option value="#cce8cc"></option>
        <option value="#cce0f5"></option>
        <option value="#ebd6ff"></option>
        <option value="#bbbbbb"></option>
        <option value="#f06666"></option>
        <option value="#ffc266"></option>
        <option value="#ffff66"></option>
        <option value="#66b966"></option>
        <option value="#66a3e0"></option>
        <option value="#c285ff"></option>
        <option value="#888888"></option>
        <option value="#a10000"></option>
        <option value="#b26b00"></option>
        <option value="#b2b200"></option>
        <option value="#006100"></option>
        <option value="#0047b2"></option>
        <option value="#6b24b2"></option>
        <option value="#444444"></option>
        <option value="#5c0000"></option>
        <option value="#663d00"></option>
        <option value="#666600"></option>
        <option value="#003700"></option>
        <option value="#002966"></option>
        <option value="#3d1466"></option>
      </select>
      <select class="ql-background" title="background">
        <option selected="selected"></option>
        <option value="#e60000"></option>
        <option value="#ff9900"></option>
        <option value="#ffff00"></option>
        <option value="#008a00"></option>
        <option value="#0066cc"></option>
        <option value="#9933ff"></option>
        <option value="#ffffff"></option>
        <option value="#facccc"></option>
        <option value="#ffebcc"></option>
        <option value="#ffffcc"></option>
        <option value="#cce8cc"></option>
        <option value="#cce0f5"></option>
        <option value="#ebd6ff"></option>
        <option value="#bbbbbb"></option>
        <option value="#f06666"></option>
        <option value="#ffc266"></option>
        <option value="#ffff66"></option>
        <option value="#66b966"></option>
        <option value="#66a3e0"></option>
        <option value="#c285ff"></option>
        <option value="#888888"></option>
        <option value="#a10000"></option>
        <option value="#b26b00"></option>
        <option value="#b2b200"></option>
        <option value="#006100"></option>
        <option value="#0047b2"></option>
        <option value="#6b24b2"></option>
        <option value="#444444"></option>
        <option value="#5c0000"></option>
        <option value="#663d00"></option>
        <option value="#666600"></option>
        <option value="#003700"></option>
        <option value="#002966"></option>
        <option value="#3d1466"></option>
      </select>
    </span>
    <span class="ql-formats">
      <button class="ql-bold"></button>
      <button class="ql-italic"></button>
      <button class="ql-underline"></button>
      <button class="ql-strike"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-script" value="sub"></button>
      <button class="ql-script" value="super"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-list" value="ordered"></button>
      <button class="ql-list" value="bullet"></button>

    </span>
    <span class="ql-formats">
      <button class="ql-align" value=""></button>
      <button class="ql-align" value="center"></button>
      <button class="ql-align" value="right"></button>
      <button class="ql-align" value="justify"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-image"></button>
      <button class="ql-video"></button>
      <button class="ql-link"></button>

    </span>
    <span class="ql-formats">
      <button class="ql-blockquote"></button>
      <button class="ql-code-block"></button>

    </span>
    <span class="ql-formats">
      <button class="ql-indent" value="+1"></button>
      <button class="ql-indent" value="-1"></button>

    </span>
    <span class="ql-formats">
      <button class="ql-direction"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-clean"></button>

    </span>
  </div>

  <!-- Create the editor container -->
  <div class="container editor-container">
    
    <div id="editor">
    </div>
  </div>
  <!-- Initialize Quill editor -->
  <script src="../static/quill/quill/dist/quill.js"></script>
  <script src="../static/quill/custom-modules/quill-autoformat.js"></script>
  <!-- You can also require other files to run in this process -->
  <script src="../static/editor/confi-quill.js"></script>
  <script src="../static/editor/file-managment.js"></script>
  <script src="../static/editor/tooltip.js"></script>
  <script src="../static/request/requests.js"></script>
</body>

</html>
