<!DOCTYPE html>
<!--suppress ALL -->
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/quill/quill.snow.css">
    <link rel="stylesheet" href="../static/core/Editor/css/blots.css">
    <link rel="stylesheet" href="../static/assets/css/index.css">
    <link rel="stylesheet" href="../static/core/Editor/css/float-menu.css">
    <link rel="stylesheet" href="../static/assets/css/header.css">
    <link rel="stylesheet" href="../static/assets/css/footer.css">
    <link rel="stylesheet" href="../static/assets/css/animation.css">
    <link rel="stylesheet" href="../static/assets/css/fonts.css">
    <link rel="stylesheet" href="../static/core/Insert-management/css/insert-bar.css">
    <link rel="stylesheet" href="../static/assets/css/custom/custom-sweetAlert.css">
    <link rel="stylesheet" href="../static/assets/css/custom/light.css">
    <title>ATS-Editor</title>
</head>

<body>

<!-- header-start -->

<div id="main-container">

    <!-- title bar -->

    <div class="title-bar">
      <span class="icon" id="exit-icon">
          <?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="18"
              height="18" viewBox="0 0 24 24"><path
              d="M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z"/></svg>
      </span>
        <span class="icon" id="resize-icon">

            <?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="18"
                height="18" viewBox="0 0 24 24"><path d="M4,4H20V20H4V4M6,8V18H18V8H6Z"/></svg>

      </span>
        <span class="icon" id="min-icon">
        <?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="18"
                height="18" viewBox="0 0 24 24"><path d="M20,14H4V10H20"/></svg>
      </span>
    </div>


    <div class="file-management-bar">
      <span class="icon" id="new-file-icon">
          <svg
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24"
                  height="24" viewBox="0 0 24 24"><path
                  d="M17,14H19V17H22V19H19V22H17V19H14V17H17V14M5,3H19C20.11,3 21,3.89 21,5V12.8C20.39,12.45 19.72,12.2 19,12.08V5H5V19H12.08C12.2,19.72 12.45,20.39 12.8,21H5C3.89,21 3,20.11 3,19V5C3,3.89 3.89,3 5,3M7,7H17V9H7V7M7,11H17V12.08C16.15,12.22 15.37,12.54 14.68,13H7V11M7,15H12V17H7V15Z"/></svg>
      </span>
        <span class="icon" id="open-file-icon">

            <svg
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    width="24"
                    height="24" viewBox="0 0 24 24"><path
                    d="M6.1,10L4,18V8H21A2,2 0 0,0 19,6H12L10,4H4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H19C19.9,20 20.7,19.4 20.9,18.5L23.2,10H6.1M19,18H6L7.6,12H20.6L19,18Z"/></svg>
      </span>
        <span class="icon" id="save-icon">
       <svg
               xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="22"
               height="22" viewBox="0 0 24 24"><path
               d="M4 19H10V21H4C2.89 21 2 20.1 2 19V5C2 3.9 2.89 3 4 3H16L20 7V9.12L18 11.12V7.83L15.17 5H4V19M14 10V6H5V10H14M20.42 12.3C20.31 12.19 20.18 12.13 20.04 12.13C19.9 12.13 19.76 12.19 19.65 12.3L18.65 13.3L20.7 15.35L21.7 14.35C21.92 14.14 21.92 13.79 21.7 13.58L20.42 12.3M12 19.94V22H14.06L20.12 15.93L18.07 13.88L12 19.94M14 15C14 13.34 12.66 12 11 12S8 13.34 8 15 9.34 18 11 18C11.04 18 11.08 18 11.13 18L14 15.13C14 15.09 14 15.05 14 15"/></svg>
      </span>
        <div id="file-name-container" class="icon-container">
            <input placeholder="اسم المستند"
                   id="file-name"
                   maxlength="100">
            <label id="file-name-note">
          <span id="file-name-valid-icon" class="icon">

              <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      version="1.1"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"><path
                      d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"/>
              </svg>
          </span>
            </label>
        </div>

        <div id="saving-status-container">
            <span id="saving-status-text" class="unsaved-file">المستند غير محفوظ</span>
        </div>
    </div>


    <!-- Create the toolbar container -->
    <div id="toolbar-container">
        <span class="ql-formats">
        <button class="ql-undo">
            <svg id="Redo" viewbox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
<defs>
  <style>
  .cls-1 {
      fill: #444;
  }

  .cls-1, .cls-2 {
      stroke: #444;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2px;
  }

  .cls-2 {
      fill: none;
  }
  </style>
</defs>
<polygon class="cls-1" points="12 10 14 12 16 10 12 10"></polygon>
<path class="cls-2" d="M9.91,13.91A4.6,4.6,0,0,1,9,14a5,5,0,1,1,5-5"></path></svg>
        </button>
        <button class="ql-redo">
            <svg id="Undo" viewbox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
<defs>
  <style>
  .cls-1 {
      fill: #444;
  }

  .cls-1, .cls-2 {
      stroke: #444;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2px;
  }

  .cls-2 {
      fill: none;
  }
  </style>
</defs>
<polygon class="cls-1" points="6 10 4 12 2 10 6 10"></polygon>
<path class="cls-2" d="M8.09,13.91A4.6,4.6,0,0,0,9,14,5,5,0,1,0,4,9"></path></svg>
        </button>
        </span>

        <span class="ql-formats">
        <select class="ql-font">
          <option value="Arial" selected>الخط الافتراضي</option>
          <option value="dubai">خط دبي</option>
          <option value="alhurra">الحرة</option>
          <option value="ArefRuqaa">خط الرقعة</option>
          <option value="Cairo">كاريو</option>
          <option value="shiraz">شيراز</option>
          <option value="zahra">الزهراء</option>
        </select>
      </span>
        <span class="ql-formats">
        <select class="ql-header">
          <option value="1">عنوان رئيسي</option>
          <option value="2">عنوان فرعي</option>
          <option value="3">عنوان فقرة</option>
          <option value="4">نص كبير</option>
          <option selected>نص عادي</option>
        </select>
      </span>
        <span class="ql-formats">
        <select class="ql-size">
          <option value="small">خط صغير</option>
          <option selected>خط متوسط</option>
          <option value="large">خط كبير</option>
          <option value="huge">خط ضخم</option>
        </select>
      </span>
        <span class="ql-formats">
        <select class="ql-color" title="Color">
          <option selected="selected"></option>
          <option value="#e60000"></option>
          <option value="#ff9900"></option>
          <option value="#ffff00"></option>
          <option value="#008a00"></option>
          <option value="#0066cc"></option>
          <option value="#9933ff"></option>
          <option value="#ffffff"></option>
          <option value="#facccc"></option>
          <option value="#ffebcc"></option>
          <option value="#ffffcc"></option>
          <option value="#cce8cc"></option>
          <option value="#cce0f5"></option>
          <option value="#ebd6ff"></option>
          <option value="#bbbbbb"></option>
          <option value="#f06666"></option>
          <option value="#ffc266"></option>
          <option value="#ffff66"></option>
          <option value="#66b966"></option>
          <option value="#66a3e0"></option>
          <option value="#c285ff"></option>
          <option value="#888888"></option>
          <option value="#a10000"></option>
          <option value="#b26b00"></option>
          <option value="#b2b200"></option>
          <option value="#006100"></option>
          <option value="#0047b2"></option>
          <option value="#6b24b2"></option>
          <option value="#444444"></option>
          <option value="#5c0000"></option>
          <option value="#663d00"></option>
          <option value="#666600"></option>
          <option value="#003700"></option>
          <option value="#002966"></option>
          <option value="#3d1466"></option>
        </select>
        <select class="ql-background" title="background">
          <option selected="selected"></option>
          <option value="#e60000"></option>
          <option value="#ff9900"></option>
          <option value="#ffff00"></option>
          <option value="#008a00"></option>
          <option value="#0066cc"></option>
          <option value="#9933ff"></option>
          <option value="#ffffff"></option>
          <option value="#facccc"></option>
          <option value="#ffebcc"></option>
          <option value="#ffffcc"></option>
          <option value="#cce8cc"></option>
          <option value="#cce0f5"></option>
          <option value="#ebd6ff"></option>
          <option value="#bbbbbb"></option>
          <option value="#f06666"></option>
          <option value="#ffc266"></option>
          <option value="#ffff66"></option>
          <option value="#66b966"></option>
          <option value="#66a3e0"></option>
          <option value="#c285ff"></option>
          <option value="#888888"></option>
          <option value="#a10000"></option>
          <option value="#b26b00"></option>
          <option value="#b2b200"></option>
          <option value="#006100"></option>
          <option value="#0047b2"></option>
          <option value="#6b24b2"></option>
          <option value="#444444"></option>
          <option value="#5c0000"></option>
          <option value="#663d00"></option>
          <option value="#666600"></option>
          <option value="#003700"></option>
          <option value="#002966"></option>
          <option value="#3d1466"></option>
        </select>
      </span>
        <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
        <span class="ql-formats">
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
      </span>
        <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>

      </span>
        <span class="ql-formats">
        <button class="ql-align" value=""></button>
        <button class="ql-align" value="center"></button>
        <button class="ql-align" value="right"></button>
        <button class="ql-align" value="justify"></button>
      </span>
        <span class="ql-formats">
        <button class="ql-image"></button>
        <button class="ql-video"></button>
        <button class="ql-link"></button>

      </span>
        <span class="ql-formats">
        <button class="ql-blockquote"></button>
        <button class="ql-code-block"></button>

      </span>
        <span class="ql-formats">
        <button class="ql-indent" value="+1"></button>
        <button class="ql-indent" value="-1"></button>

      </span>
        <span class="ql-formats">
        <button class="ql-direction"></button>
      </span>
        <span class="ql-formats">
        <button class="ql-clean"></button>
        <button class="ql-copy-format">
            <svg width="18"
                 height="18" viewBox="0 0 22 22">
    <path style="fill: #444;
    stroke: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0;"
          d="M18,4V3A1,1 0 0,0 17,2H5A1,1 0 0,0 4,3V7A1,1 0 0,0 5,7H17A1,1 0 0,0 11,7V6H19V10H9V21A1,1 0 0,0 10,22H12A1,1 0 0,0 11,21V12H21V4H18Z"/>
</svg>
        </button>
      </span>
    </div>

    <!-- ----------------------------- insert-bar ------------------------------ -->

    <div id="insert-bar">
        <ul id="insert-icons">
            <li class="icon insert-icon" id="insert-table">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     width="22" height="22" viewBox="0 0 24 24">
                    <path class="ql-custom-stroke-2"
                          d="M5,4H19A2,2 0 0,1 21,6V18A2,2 0 0,1 19,20H5A2,2 0 0,1 3,18V6A2,2 0 0,1 5,4M5,8V12H11V8H5M13,8V12H19V8H13M5,14V18H11V14H5M13,14V18H19V14H13Z"/>
                </svg>

            </li>
            <li class="icon insert-icon" id="insert-ayah">
                <?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN"
                "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     width="22" height="22" viewBox="0 0 22 22">
                    <path class="ql-custom-stroke-2"
                          d="M21,5C19.89,4.65 18.67,4.5 17.5,4.5C15.55,4.5 13.45,4.9 12,6C10.55,4.9 8.45,4.5 6.5,4.5C4.55,4.5 2.45,4.9 1,6V20.65C1,20.9 1.25,21.15 1.5,21.15C1.6,21.15 1.65,21.1 1.75,21.1C3.1,20.45 5.05,20 6.5,20C8.45,20 10.55,20.4 12,21.5C13.35,20.65 15.8,20 17.5,20C19.15,20 20.85,20.3 22.25,21.05C22.35,21.1 22.4,21.1 22.5,21.1C22.75,21.1 23,20.85 23,20.6V6C22.4,5.55 21.75,5.25 21,5M21,18.5C19.9,18.15 18.7,18 17.5,18C15.8,18 13.35,18.65 12,19.5V8C13.35,7.15 15.8,6.5 17.5,6.5C18.7,6.5 19.9,6.65 21,7V18.5Z"/>
                </svg>

            </li>
            <li class="icon insert-icon" id="insert-hadith">
                <svg width="22" height="22" viewBox="0 0 22 22">
                    <path class="ql-custom-stroke-2"
                          d="M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9M5,5V7H19V5H5M5,9V11H13V9H5M5,13V15H15V13H5Z"/>
                </svg>
            </li>
            <li class="icon insert-icon" id="insert-poetry">
                <?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN"
                "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     width="22" height="22" viewBox="0 0 24 24">
                    <path class="ql-custom-stroke-2"
                          d="M22,2C22,2 14.36,1.63 8.34,9.88C3.72,16.21 2,22 2,22L3.94,21C5.38,18.5 6.13,17.47 7.54,16C10.07,16.74 12.71,16.65 15,14C13,13.44 11.4,13.57 9.04,13.81C11.69,12 13.5,11.6 16,12L17,10C15.2,9.66 14,9.63 12.22,10.04C14.19,8.65 15.56,7.87 18,8L19.21,6.07C17.65,5.96 16.71,6.13 14.92,6.57C16.53,5.11 18,4.45 20.14,4.32C20.14,4.32 21.19,2.43 22,2Z"/>
                </svg>
            </li>
            <li class="icon insert-icon" id="search-replace">
                <svg width="22" height="22" viewBox="0 0 24 24">
                    <path class="ql-custom-stroke-2"
                          d="M15.5,12C18,12 20,14 20,16.5C20,17.38 19.75,18.21 19.31,18.9L22.39,22L21,23.39L17.88,20.32C17.19,20.75 16.37,21 15.5,21C13,21 11,19 11,16.5C11,14 13,12 15.5,12M15.5,14A2.5,2.5 0 0,0 13,16.5A2.5,2.5 0 0,0 15.5,19A2.5,2.5 0 0,0 18,16.5A2.5,2.5 0 0,0 15.5,14M7,15V17H9C9.14,18.55 9.8,19.94 10.81,21H5C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H19A2,2 0 0,1 21,5V13.03C19.85,11.21 17.82,10 15.5,10C14.23,10 13.04,10.37 12.04,11H7V13H10C9.64,13.6 9.34,14.28 9.17,15H7M17,9V7H7V9H17Z"/>
                </svg>
            </li>
        </ul>
        <div id="insert-ayah-box" class="insert-box">
            <input id="ayah-input" class="insert-input" type="text" placeholder="بحث عن آية قرآنية">
        </div>
        <div id="insert-hadith-box" class="insert-box">
            <input id="hadith-input" class="insert-input" type="text" placeholder="بحث عن حديث نبوي">
        </div>
        <div id="insert-poetry-box" class="insert-box">
            <input id="poetry-input-first-part" class="text-input" type="text" placeholder="الشطر الأول">
            <input id="poetry-input-second-part" class="text-input" type="text" placeholder="الشطر الثاني">
            <button class="btn" id="insert-poetry-btn">إدراج</button>

        </div>
        <div id="search-box" class="insert-box">
            <input class="inp-cbx" id="ignore-taskeel" type="checkbox" style="display: none;"/>
            <label class="check-box" for="ignore-taskeel"><span>
    <svg width="12px" height="10px" viewbox="0 0 12 10">
      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
    </svg></span><span>تجاهل الحركات</span></label>
            <input id="search-input" class="text-input" type="text" placeholder="بحث">
            <input id="replace-input" class="text-input" type="text" placeholder="استبدال">
            <div class="btn-group">
                <button class="btn" id="search">بحث</button>
                <button class="btn" id="replace">استبدال</button>
                <button class="btn" id="replace-all">استبدال الكل</button>
            </div>
        </div>

        <table id="insert-table-box" class="insert-box">
            <tr>
                <td id="01-01"></td>
                <td id="01-02"></td>
                <td id="01-03"></td>
                <td id="01-04"></td>
                <td id="01-05"></td>
                <td id="01-06"></td>
                <td id="01-07"></td>
                <td id="01-08"></td>
                <td id="01-09"></td>
                <td id="01-10"></td>
            </tr>
            <tr>
                <td id="02-01"></td>
                <td id="02-02"></td>
                <td id="02-03"></td>
                <td id="02-04"></td>
                <td id="02-05"></td>
                <td id="02-06"></td>
                <td id="02-07"></td>
                <td id="02-08"></td>
                <td id="02-09"></td>
                <td id="02-10"></td>
            </tr>
            <tr>
                <td id="03-01"></td>
                <td id="03-02"></td>
                <td id="03-03"></td>
                <td id="03-04"></td>
                <td id="03-05"></td>
                <td id="03-06"></td>
                <td id="03-07"></td>
                <td id="03-08"></td>
                <td id="03-09"></td>
                <td id="03-10"></td>
            </tr>
            <tr>
                <td id="04-01"></td>
                <td id="04-02"></td>
                <td id="04-03"></td>
                <td id="04-04"></td>
                <td id="04-05"></td>
                <td id="04-06"></td>
                <td id="04-07"></td>
                <td id="04-08"></td>
                <td id="04-09"></td>
                <td id="04-10"></td>
            </tr>
            <tr>
                <td id="05-01"></td>
                <td id="05-02"></td>
                <td id="05-03"></td>
                <td id="05-04"></td>
                <td id="05-05"></td>
                <td id="05-06"></td>
                <td id="05-07"></td>
                <td id="05-08"></td>
                <td id="05-09"></td>
                <td id="05-10"></td>
            </tr>

            <tr>
                <td id="06-01"></td>
                <td id="06-02"></td>
                <td id="06-03"></td>
                <td id="06-04"></td>
                <td id="06-05"></td>
                <td id="06-06"></td>
                <td id="06-07"></td>
                <td id="06-08"></td>
                <td id="06-09"></td>
                <td id="06-10"></td>
            </tr>

            <tr>
                <td id="07-01"></td>
                <td id="07-02"></td>
                <td id="07-03"></td>
                <td id="07-04"></td>
                <td id="07-05"></td>
                <td id="07-06"></td>
                <td id="07-07"></td>
                <td id="07-08"></td>
                <td id="07-09"></td>
                <td id="07-10"></td>
            </tr>

            <tr>
                <td id="08-01"></td>
                <td id="08-02"></td>
                <td id="08-03"></td>
                <td id="08-04"></td>
                <td id="08-05"></td>
                <td id="08-06"></td>
                <td id="08-07"></td>
                <td id="08-08"></td>
                <td id="08-09"></td>
                <td id="08-10"></td>
            </tr>

            <tr>
                <td id="09-01"></td>
                <td id="09-02"></td>
                <td id="09-03"></td>
                <td id="09-04"></td>
                <td id="09-05"></td>
                <td id="09-06"></td>
                <td id="09-07"></td>
                <td id="09-08"></td>
                <td id="09-09"></td>
                <td id="09-10"></td>
            </tr>

            <tr>
                <td id="10-01"></td>
                <td id="10-02"></td>
                <td id="10-03"></td>
                <td id="10-04"></td>
                <td id="10-05"></td>
                <td id="10-06"></td>
                <td id="10-07"></td>
                <td id="10-08"></td>
                <td id="10-09"></td>
                <td id="10-10"></td>
            </tr>

        </table>
        <div id="float-row-column-tip"></div>
        <div class="expand-arrow" id="expand-arrow">
            <svg style="width:22px;height:22px" viewBox="0 0 24 24">
                <path fill="#000000"
                      d="M7.41,18.41L6,17L12,11L18,17L16.59,18.41L12,13.83L7.41,18.41M7.41,12.41L6,11L12,5L18,11L16.59,12.41L12,7.83L7.41,12.41Z"/>
            </svg>
        </div>
    </div>


    <!-- ----------------------------------------------------------------------- -->

    <!-- header-end -->
    <!-- Create the editor container -->
    <div id="text-box">
        <div class="container">
            <div id="editor"></div>
        </div>

        <!--    <div class="footer">-->
        <!--        <span id="word-number">عدد الكلمات</span>-->
        <!--    </div>-->
    </div>
    <!-- create float-menu show when select text -->

    <div id="float-menu" class="fade-in-bck">

        <ul id="float-tools-list">
            <li class="tool float-operation" data-value="paste">
                <?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN"
                "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     width="20" height="20" viewBox="0 0 22 22">
                    <path style="fill: #444444"
                          d="M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M7,7H17V5H19V19H5V5H7V7Z"/>
                </svg>
            </li>
            <li class="tool float-operation" data-value="copy">
                <?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN"
                "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     width="20" height="20" viewBox="0 0 22 22">
                    <path style="fill: #444444"
                          d="M20,16V4H8V16H20M22,16A2,2 0 0,1 20,18H8C6.89,18 6,17.1 6,16V4C6,2.89 6.89,2 8,2H20A2,2 0 0,1 22,4V16M16,20V22H4A2,2 0 0,1 2,20V7H4V20H16Z"/>
                </svg>
            </li>
            <li class="tool float-operation" data-value="cut">
                <svg width="20" height="20" viewBox="0 0 24 24">
                    <path fill="#444444"
                          d="M19,3L13,9L15,11L22,4V3M12,12.5A0.5,0.5 0 0,1 11.5,12A0.5,0.5 0 0,1 12,11.5A0.5,0.5 0 0,1 12.5,12A0.5,0.5 0 0,1 12,12.5M6,20A2,2 0 0,1 4,18C4,16.89 4.9,16 6,16A2,2 0 0,1 8,18C8,19.11 7.1,20 6,20M6,8A2,2 0 0,1 4,6C4,4.89 4.9,4 6,4A2,2 0 0,1 8,6C8,7.11 7.1,8 6,8M9.64,7.64C9.87,7.14 10,6.59 10,6A4,4 0 0,0 6,2A4,4 0 0,0 2,6A4,4 0 0,0 6,10C6.59,10 7.14,9.87 7.64,9.64L10,12L7.64,14.36C7.14,14.13 6.59,14 6,14A4,4 0 0,0 2,18A4,4 0 0,0 6,22A4,4 0 0,0 10,18C10,17.41 9.87,16.86 9.64,16.36L12,14L19,21H22V20L9.64,7.64Z"/>
                </svg>
            </li>

            <hr width="1" size="24">
            <li class="tool float-format" data-value="bold">
                <svg class="ql-float-format" id="Bold" width="22"
                     height="22" viewbox="0 0 22 22"
                     xmlns="http://www.w3.org/2000/svg">
                    <path class="ql-custom-stroke-1"
                          d="M5,4H9.5A2.5,2.5,0,0,1,12,6.5v0A2.5,2.5,0,0,1,9.5,9H5A0,0,0,0,1,5,9V4A0,0,0,0,1,5,4Z"></path>
                    <path class="ql-custom-stroke-1"
                          d="M5,9h5.5A2.5,2.5,0,0,1,13,11.5v0A2.5,2.5,0,0,1,10.5,14H5a0,0,0,0,1,0,0V9A0,0,0,0,1,5,9Z">
                    </path>
                </svg>
            </li>
            <li class="tool float-format" data-value="italic">
                <svg id="Bold" width="22"
                     height="22" viewbox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                    <line class="ql-custom-stroke-1" x1="7" x2="13" y1="4" y2="4"></line>
                    <line class="ql-custom-stroke-1" x1="5" x2="11" y1="14" y2="14"></line>
                    <line class="ql-custom-stroke-1" x1="8" x2="10" y1="14" y2="4"></line>
                </svg>
            </li>
            <li class="tool float-format" data-value="underline">
                <svg id="Bold" width="22"
                     height="22" viewbox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                    <path class="ql-custom-stroke-1" d="M5,3V9a4.012,4.012,0,0,0,4,4H9a4.012,4.012,0,0,0,4-4V3"></path>
                    <rect class="ql-custom-stroke-2" height="1" rx="0.5" ry="0.5" width="12" x="3" y="15"></rect>
                </svg>
            </li>
            <hr width="1" size="24">
            <li class="tool float-color" data-value="#000000">
        <span tabindex="0" role="button" class="ql-float-color"
              style="background-color: rgb(0, 0, 0);"></span>
            </li>
            <li class="tool float-color" data-value="#e60000">

        <span tabindex="0" role="button" class="ql-float-color"
              style="background-color: rgb(230, 0, 0);"></span>
            </li>
            <li class="tool float-color" data-value="#ff9900">

        <span tabindex="0" role="button" class="ql-float-color"
              style="background-color: rgb(255, 153, 0);"></span>
            </li>
            <li class="tool float-color" data-value="#ffff00">

        <span tabindex="0" role="button" class="ql-float-color"
              style="background-color: rgb(255, 255, 0);"></span>
            </li>
            <li class="tool float-color" data-value="#008a00">

        <span tabindex="0" role="button" class="ql-float-color"
              style="background-color: rgb(0, 138, 0);"></span>
            </li>

            <li class="tool float-color" data-value="#0066cc">

        <span tabindex="0" role="button" class="ql-float-color"
              style="background-color: rgb(0, 102, 204);"></span>
            </li>
            <li class="tool float-color" data-value="#9933ff">

        <span tabindex="0" role="button" class="ql-float-color"
              style="background-color: rgb(153, 51, 255);"></span>
            </li>
        </ul>
    </div>

    <!-- Initialize Quill editor -->
    <script src="../static/quill/quill.js"></script>
    <script src="../static/quill/quill-better-table.js"></script>
    <script src="../static/quill/quill-blot-formatter.min.js"></script>
    <script>
        <!--load Electron/node.js modules-->
        const path = require('path'),
            fs = require('fs'),
            Swal = require('sweetalert2'),
            tippy = require('tippy.js'),
            axios = require('axios'),
            Store = require('electron-store'),
            store = new Store(),
            remote = require('electron').remote,
            win = remote.getCurrentWindow(),
            dialog = remote.dialog,
            app = remote.app,
            Inline = Quill.import('blots/inline'),
            Block = Quill.import('blots/block'),
            Delta = Quill.import('delta');
        //    global DOM variables

    </script>

    <!--loading request-->
    <script src="../static/request/PyRequest.js"></script>
    <!--loading helpers-->
    <script src="../static/helpers/utilities.js"></script>
    <script src="../static/helpers/Notification.js"></script>
    <script src="../static/helpers/ArabicHelper.js"></script>
    <script src="../static/helpers/EditorHelper.js"></script>
    <script src="../static/helpers/TypingHelper.js"></script>
    <script src="../static/helpers/FileHelper.js"></script>
    <!--loading js assets-->
    <script src="../static/assets/js/header.js"></script>
    <script src="../static/assets/js/tooltip.js"></script>
    <!-- You can also require other files to run in this process -->
    <!--loading custom quill components-->
    <script src="../static/core/Editor/custom-modules/Searcher.js"></script>
    <script src="../static/core/Editor/custom-blots/AyahBlot.js"></script>
    <script src="../static/core/Editor/custom-blots/HadithBlot.js"></script>
    <script src="../static/core/Editor/custom-blots/PoetryBlot.js"></script>
    <script src="../static/core/Editor/custom-blots/SearchBlot.js"></script>
    <script src="../static/core/Editor/custom-blots/SpellingErrorBlot.js"></script>
    <!--config quill editor-->
    <script src="../static/core/Editor/_init.js"></script>
    <!--loading file-management-->
    <script src="../static/core/File-management/ATSFile.js"></script>
    <script src="../static/core/File-management/FileLoader.js"></script>
    <script src="../static/core/File-management/FileSaver.js"></script>
    <script src="../static/core/File-management/fila-management-UI.js"></script>
    <!--loading insert-management-->
    <script src="../static/core/Insert-management/Inserter.js"></script>
    <script src="../static/core/Insert-management/insert-management-UI.js"></script>
    <script src="../static/core/Insert-management/insert-table.js"></script>
    <script src="../static/core/Insert-management/insert-ayah-UI.js"></script>
    <script src="../static/core/Insert-management/insert-hadith-UI.js"></script>
    <script src="../static/core/Insert-management/insert-poetry-UI.js"></script>
    <!--loading the rest-->
    <script src="../static/core/Editor/UI/float-menu.js"></script>
    <script src="../static/core/Editor/typing/keyboard-shortcuts.js"></script>
    <script src="../static/core/Editor/typing/TypingHandler.js"></script>
    <script src="../static/core/Editor/typing/typing-event-handlers.js"></script>
</div>
</body>

</html>
