.side-bar-container {
    position: absolute;
    z-index: 1000;
    display: grid;
    grid-template-columns: auto 200px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
}

.cover-while-side-bar-open {
    transition: var(--quick-transition);
}

.side-bar-container.show .cover-while-side-bar-open {
    background-color: #e8f0fe95;
    transition: var(--slow-transition);
}

.side-bar {
    display: grid;
    grid-template-rows: 30px;
    float: right;
    direction: rtl;
    text-align: right;
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--primary-shadow);
    width: 200px;
    height: 100%;
    transition: var(--quick-transition);
    pointer-events: auto;
    transform: translateX(100%);

}

.side-bar.show {
    transform: translateX(0%);
    transition: var(--quick-transition);
}

.side-bar .note {
    justify-items: normal;
    font-size: 16px;

}

#save-extensions-list {
    display: grid;
    position: absolute;
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--primary-shadow);
    width: 150px;
    font-size: 14px;

}


#save-extensions-list .menu-item * {
    pointer-events: none;
}
