@charset "utf-8";

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;

// Update Bulma's global variables
$grey-dark: #444;
$grey-light: #ddd;
$primary: #06c;
$primary-light: #4693e0;
$primary-very-light: #e8f0fe;
$danger-light: #fee8e8;

$success: #04df5b;
$danger:#eb1d1d;

// Update some of Bulma's component variables
$dimensions: 16 18 20 24 32 48 64 96 128;

.icon {
    opacity: 0.7;
    outline: none;
}

html {
    height: 100%;
}

.image {
    pointer-events: none;
}

@import "../../../node_modules/bulma/bulma.sass";